services:
  web:
    build: .
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    expose:
      - 8000
    depends_on:
      - db
      - redis
    env_file:
      - .env
    networks:
      - internal

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - internal

  redis:
    image: redis:7.0-alpine
    restart: on-failure
    networks:
      - internal

  celery:
    build: .
    command: celery -A config worker -l info
    volumes:
      - .:/app
      - media_volume:/app/media
    env_file:
      - .env
    depends_on:
      - db
      - redis
    networks:
      - internal

  nginx:
    image: nginx:1.25-alpine
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - /etc/letsencrypt/live/battlegun.shop/fullchain.pem:/etc/letsencrypt/live/battlegun.shop/fullchain.pem:ro
      - /etc/letsencrypt/live/battlegun.shop/privkey.pem:/etc/letsencrypt/live/battlegun.shop/privkey.pem:ro
    depends_on:
      - web
    networks:
      - internal
      - public

volumes:
  postgres_data:
  static_volume:
  media_volume:


networks:
  internal:
    driver: bridge
  public:
    driver: bridge
